%h1
  Depot
- @medicine_forms.each do |medicine_form|
  %hr
  %h2{id: medicine_form.medicine.id }= medicine_form.medicine.name + ', ' + medicine_form.form.name
  %h4
    Price:
    = medicine_form.price
    rub.
  %h5
    = medicine_form.medicine.sale.name
  - if medicine_form.quantity_storage.to_i > 0
    = button_to 'Buy', buy_medicine_form_path(medicine_form), class: 'btn', id: "buy_#{medicine_form.id}", remote: true
  - else
    = button_to 'Buy', buy_medicine_form_path(medicine_form), class: 'btn disabled', id: "buy_#{medicine_form.id}", remote: true
    %p
      %span{class: "label label-warning"}
        Not available.
    - if medicine_form.medicine.replacements.present?
      .text-warning
        You can choose one of replaces:
        - medicine_form.medicine.replacements.each_with_index do |replacement, index|
          %a{href: "##{replacement.id}" }= replacement.name  
          - if index < medicine_form.medicine.replacements.count - 1
            ,